In [1]:
import pickle
import pandas as pd
import FuncPuc1 as puc

In [2]:
df = pd.read_excel('C:\\Users\\paulo.abreu\\Downloads\\archive\\Data_Train.xlsx')
puc.pre_p(df)
puc.feature_bin(df)
df1 = df.copy()
df1 = df1.dropna()
df1 = df1.drop(['Date_of_Journey', 'Dep_Time' , 'Arrival_Time', 'Duration', 'Total_Stops'], axis =1)

pre processamento concluído

C:\Users\paulo.abreu\Downloads\FuncPuc1.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Dep_t_hour_bin'][i] = b
C:\Users\paulo.abreu\Downloads\FuncPuc1.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date_of_J_day_bin'][i] = f
C:\Users\paulo.abreu\Downloads\FuncPuc1.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lag_bin'][i] = h
C:\Users\paulo.abreu\Documents\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

Feature engineering concluído com sucesso

In [3]:
df_test = df1[0 : 5000]
df1 = df1[1000:]
df_test_y  = df_test['Price']
df_test_X = df_test.drop(['Price'], axis=1)

In [4]:
filename = 'C:\\Users\\paulo.abreu\\Downloads\\finalized_model.sav'
#pickle.dump(clf, open(filename, 'wb'))
modelo = pickle.load(open(filename, 'rb'))
result = modelo.score(df_test_X, df_test_y)
print(result)

0.8600812879799042

In [5]:
previsoes = modelo.predict(df_test_X)

In [6]:
previsoes

array([ 6017.32749206,  8897.59008333, 13877.927     , ...,
       11087.        ,  4809.805     ,  4526.49047619])

In [7]:
len(previsoes)

5000

In [8]:
len(df_test_X)

5000

In [9]:
df_previ = pd.DataFrame(previsoes)

In [10]:
df_final = df_test_X.merge(df_previ, left_index=True, right_index=True, how='left')

In [11]:
df_final

,Airline,Source,Destination,Route,Additional_Info,Dep_time_hour,Date_of_Journey_day,Date_of_Journey_Month,today,lag,Dep_t_hour_bin,lag_bin,Date_of_J_day_bin,0
0,IndiGo,Banglore,New Delhi,BLR→DEL,No info,22.0,24.0,March,2019-03-01,23,3.0,3.0,3,6017.327492
1,Air India,Kolkata,Banglore,CCU→IXR→BBI→BLR,No info,5.0,1.0,May,2019-03-01,61,0.0,5.0,0,8897.590083
2,Jet Airways,Delhi,Cochin,DEL→LKO→BOM→COK,No info,9.0,9.0,June,2019-03-01,1,1.0,0.0,1,13877.927000
3,IndiGo,Kolkata,Banglore,CCU→NAG→BLR,No info,18.0,12.0,May,2019-03-01,72,2.0,5.0,1,6154.058214
5,SpiceJet,Kolkata,Banglore,CCU→BLR,No info,9.0,24.0,June,2019-03-01,115,1.0,5.0,3,11087.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5108,Multiple carriers,Delhi,Cochin,DEL→BOM→COK,No info,17.0,24.0,June,2019-03-01,115,2.0,5.0,3,NaN
5109,SpiceJet,Banglore,New Delhi,BLR→DEL,No info,5.0,9.0,March,2019-03-01,8,0.0,2.0,1,NaN
5110,Jet Airways,Banglore,New Delhi,BLR→BOM→DEL,In-flight meal not included,18.0,12.0,March,2019-03-01,11,2.0,2.0,1,NaN
5111,IndiGo,Kolkata,Banglore,CCU→BLR,No info,20.0,9.0,May,2019-03-01,69,3.0,5.0,1,NaN
5112,IndiGo,Banglore,Delhi,BLR→DEL,No info,7.0,15.0,June,2019-03-01,106,1.0,5.0,2,NaN

In [13]:
df_final.to_csv('C:\\Users\\paulo.abreu\\Downloads\\archive\\df_final.csv',
          sep = ';', 
          decimal = ',', 
          encoding = 'UTF-8',
          mode = 'w',
          line_terminator = '\r'
         )